* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

.up {
  display: inline-block;
  position: sticky;
  top: 94%;
  left: 100%;
  color: black;
  text-decoration: none;
  z-index: 100;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

nav {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

nav span {
  font-size: 2.5rem;
  border: 5px solid black;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
}

nav img {
  width: 30px;
  margin-left: 10px;
  border-radius: 50%;
  transition: 0.3s;
}

nav img:hover {
  background-color: #b5eaff;
  transition: background-color, box-shadow .3s;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .25);
}

.menu {
  max-width: 400px;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.menu a {
  display: inline-block;
  margin: 0 10px 0 10px;
  color: black;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.menu a:hover {
  background-size: 100% 2px;
}



/* ---- Title ---- */

.title {
  margin-top: 100px;
  background: #f2f3f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
}

.title h1 {
  font-size: 7.5rem;
  border: 5px solid black;
  display: inline-block;
  background-color: #ffff98;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
  margin-top: 15px;
}

.title h2 {
  margin-top: 100px;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 25px;
}

.title span {
  border: 3px solid black;
  background-color: #c4ebde;
  padding: 5px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
  line-height: 100px;
}

/* ---- About ----- */

.about {
  margin-top: 150px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
  background-color: #f2f3f4;
}

.about-title {
  width: 50%;
  text-align: center;
}

.about-title p {
  border: 4px solid black;
  display: inline-block;
  font-size: 2.5rem;
  text-transform: uppercase;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
  background-color: #c4ebde;
  position: sticky;
  top: 420px;
  margin-top: 120px;
  margin-bottom: 130px;
}

.about-page {
  width: 50%;
  margin-bottom: 50px;
}

.about-page p {
  margin: 50px 0;
}

.about-page span {
  border: 3px solid black;
  padding: 5px;
  background-color: #ffe4ab;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
}

.about-page .stack {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 10px auto;
  text-align: center;
  border: 2px solid black;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
  background-color: #ffff98;
}

/*  ----- Works ----- */

.works {
  margin-top: 150px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #f2f3f4;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
  border-radius: 5px;
}

.works-title {
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.works-title p {
  margin-top: 140px;
  position: sticky;
  top: 300px;
  text-align: center;
  margin-bottom: 150px;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.works-title span {
  border: 3px solid black;
  padding: 5px;
  background: #ffc5c9;
}

.works-page {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

.works-page img {
  width: 95%;
  margin: 50px 5%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
  border: 5px solid #ffff98;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.works-page img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/* ----- Repo ----- */

.repo {
  margin-top: 150px;
  width: 100%;
  height: 300px;
  text-align: center;
  line-height: 300px;
  background: #f2f3f4;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
  border-radius: 5px;
}

.repo p {
  font-size: 1.5rem;
}

.repo a {
  color: black;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.repo a:hover {
  background-size: 100% 2px;
  color: white;
}

.repo span {
  border: 3px solid black;
  padding: 5px;
  background: #ffe4ab;
}

.repo span:hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .25);
  transition: background-color, box-shadow .3s;
}

/*  ----- Footer ----- */

footer {
  margin-top: 150px;
  border-top: 3px solid black;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

footer span {
  border: 3px solid black;
  background-color: #ffff98;
  padding: 5px;
}

@media screen and (max-width: 500px) {
  .title {
    text-align: center;
  }

  .title h1 {
    font-size: 4.5rem;
  }

  .title span {
    margin-top: 10px;
  }

  .works-page img {
    width: 170px;
  }

  .about-title p {
    font-size: 1.3rem;
  }

  .works-title p {
    font-size: 1rem;
  }

  .works-title span {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1024px){
  .up{
    display: none;
  }
}